body{
  background-image:url(https://png.pngtree.com/thumb_back/fw800/back_pic/02/68/20/8357902844a6a91.jpg);
   font-family: 'Roboto', sans-serif;
 }


.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 #939393;
  margin: 1em;
  user-select: none;
  border-radius: 10px;
 }

 
 .activeCard {
  color: #393939;
  background: #AAAAAA ;
  border-radius: 10px;
 }
 .center{
   display: flex;
  align-items: center;
  justify-content: center;
 }
 .text{
   text-align: center;
 }

 